### NLP model

In [3]:
!pip install -Uqq fastai

In [6]:
from fastai.text.all import *

In [1]:
from scripts.textEXT import textEXTR
obj=textEXTR()

In [2]:
df=obj.main()

Valid/Download  Example For Discharge Summary Template.pdf
Waiting for the operation to finish.
Valid/Free PDF Download Discharge Summary Template.pdf
Waiting for the operation to finish.
Valid/Hospital Discharge Summary Report.pdf
Waiting for the operation to finish.
Valid/Sample Example for Discharge Summary Template.pdf
Waiting for the operation to finish.
Valid/Suggested Discharge Summary.pdf
Waiting for the operation to finish.
Invalid/Biology-SQP.pdf
Waiting for the operation to finish.
Invalid/Science-SQP.pdf
Waiting for the operation to finish.
Invalid/cbjemasu01.pdf
Waiting for the operation to finish.
Invalid/statement_sample1.PDF
Waiting for the operation to finish.

In [5]:
df.head(8)

                                                text valid
0  1\nIndraprastha Apollo Hospitals\ntouching liv...     0
1  Provider: Ken Cure, MD Patient: Patient H Samp...     0
2  Report Run Date: 5/27/2015\nHospital Discharge...     0
3  OUTPATIENT CLINIC\n2121 Main Street\nRaleigh, ...     0
4  Patient Name: Admission Date: Discharge Date: ...     0
5  Time: 3 Hours Maximum Marks: 70\nGeneral Instr...     1
6  No. Questions Marks\nTime: 3 Hours Maximum Mar...     1
7  Mathematics Standard X Sample Paper 01 Unsolve...     1

In [33]:
dls = DataBlock(blocks=(TextBlock.from_df('text'), CategoryBlock),
                      get_x=ColReader('text'),
                      get_y=ColReader('valid'),
                      splitter=RandomSplitter())

In [34]:
dls = dls.dataloaders(df,bs=2,)
dls.show_batch(max_n=2)

/opt/conda/lib/python3.7/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [35]:
learn = text_classifier_learner(dls, AWD_LSTM, drop_mult=0.5, metrics=accuracy)

In [36]:
learn.fine_tune(1)